/* body{
  width: 100%;
}

.header-top {
  width: 1200px;
  margin: 0 auto;
  height: 38px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
html {
  height: 100%;
}
body{
  min-height: 100%;
  background: #fff;
  position: relative;
}
p>img {
  max-width: 100%;
}
li {
  list-style-type: none;
}
.banner>img {
  width: 100%;
}
nav a:focus,nav a:hover {
  text-decoration: none;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
/* 导航 */
.contact-us {
  position: fixed;
  right: 0;
  top: 150px;
}
header {
  /* background: #1C489B; */
}
.header-top-wrap  {
  color: #fff;
  background: #1C489B;
  /* display: flex;
  justify-content: center; */
  /* width: 100%; */
}
.nav-wrap.pc {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}
nav {
  /* height: 60px; */
  width: 100%;
  color: #333;
  font-size: 16px;
  float: left;
  line-height: 56px;
  overflow: hidden;
}
.header-nav-wrap {
  overflow: hidden;
}
.nav-wrap.pc a {
  margin-right: 40px;
  display: inline-block;
  color: #333;
}
.nav-wrap>a.active {
  border-bottom: 4px solid #1C489B;
}

button.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.icon-bar {
  background-color: #888;
}

nav .navbar-toggle {
  border-color: #ddd;
}
.nav-slide {
  width: 100%;
}
.nav-wrap.mobile {
  /* height: auto; */
  display: none;
  transition: height 2s;
  -moz-transition: height 2s; /* Firefox 4 */
  -webkit-transition: height 2s; /* Safari 和 Chrome */
  -o-transition: height 2s; /* Opera */
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.mobile a {
  display: block;
  height: 60px;
  line-height: 60px;
  padding-top: 10px;
  line-height: 40px;
  color: #777;
  position: relative;
  padding: 10px 15px;
  border-top: 1px solid #e7e7e7;
}

.content-wrap {
  /* padding-bottom: 140px; */
  padding-bottom: 200px;
}
.article-wrap {
  box-shadow:0px 4px 6px 0px rgba(0,0,0,0.16);
  border: 1px solid rgba(0,0,0,0.16);
  border-radius: 4px;
  padding: 40px;
}
.big-title {
  margin: 0 auto 10px;
  color: #1C489B;
  font-size: 46px;
  text-align: center;
}
.small-title {
  font-size: 20px;
  color: #5B646B;
  /* margin-bottom: 60px; */
  text-align: center;
}
.article-title {
  color: #231E1E;
  font-size: 24px;
  margin-bottom: 18px;
  display: block;
}
.article-title-describe {
  color: #999;
  font-size: 14px;
  display: inline-block;
}
.article-text {
  font-size: 16px;
  color: #3F3C49;
}
.article-text li {
  list-style-type: disc;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
}
.taxon {
  color: #1C489B;
  font-size: 24px;
  margin-bottom: 18px;
  margin-top: 18px;

}
.about-wrap .article-title{
  margin-bottom: 0px;
}
.content-detail-item  {
  padding: 40px 45px;
  min-height: 600px;
  color: #231E1E;
  box-shadow:0px 4px 6px 0px rgba(0,0,0,0.16);
  border: 1px solid  rgba(0,0,0,0.16);
  border-radius:8px;
  overflow: hidden;
  margin-top: 60px;
}
.article-details {
  /* text-indent: 2em; */
  font-size: 18px;
}
.news-link-list {
  margin-top: 50px;
  color: #1C489B;
  font-size: 16px;
  padding-top: 16px;
  padding-left: 0;
}
.news-link-list  li {
  margin-bottom: 5px;
}
.example-list-item  {
  font-size: 16px;
  text-align: center;
}
.example-list-item p {
  color: #333;
}
.gray-p li {
  margin-bottom: 12px;
}
.gray-p {
    color: #999;
    font-size: 18px;
    padding-left: 0;
}
.annotation-wrap {
  margin: 25px 0
}
.example-list-item span {
  color: #999;
  display: inline-block;
  min-height: 100px;
  font-size: 15px;
}
.content-detail-item>li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 18px;
}
.content-detail-item li img{
  flex-shrink: 0;
  width: 72px;
  height: 72px;
}
.content-detail-item li .right {
  margin-left: 15px;
}
.content-detail-item li .right p{
  font-size: 18px;
  color: #231E1E;
  font-weight: 600;
}
.content-detail-item li .right  span {
  font-size: 16px;
  color: #999999;
}
.icon-right {
  width: 20px !important;
  height: 20px !important;
  vertical-align: sub;

}

/* footet */
footer {
  width: 100%;
  background: #1C489B;
  color: #fff;
  position: absolute;
  bottom: 0;
}
.footer-wrap-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-wrap-bottom>div {
  flex-shrink: 0;
}
.footer-wrap-bottom img {
  margin-top: 20px;
}
.footer-border {
  border-top: 1px solid #627bb4;
  position: absolute;
  bottom: 90px;
  width: 100%;
}
footer a.footer-item-among{
  /* color: #627bb4; */
  color: #fff;
}
a.footer-item-title {
  color: #fff;
  margin-bottom: 20px;
}
.footer-top {
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer-item-wrap {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer-item a {
  display: block;
}
.footer-right {
  margin-left: 20px;
}
.telephone-number {
  font-size: 25px;
  color: #fff;
  margin-top: 20px;
}
.telephone, .address {
  /* color: #627bb4; */
  margin-top: 20px;
}
.telephone {
  /* margin-top: 0; */
}
.footer-link {
  color: #fff;
  padding-top: 16px;
}
.footer-info{
  margin: 10px 0 16px;
}

/* 首页 */

.example-list-item img{
  width: 100%;
  margin: 60px 0 26px;
}
.index-wrap main {
  background: url('../img/bg.png')no-repeat top center;
  padding-top: 100px;
}
.process-list {
  padding-top: 50px;
}
.process-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 50px 20px;
  text-align: center;
  box-shadow:0px 4px 6px 0px rgba(0,0,0,0.16);
  border: 1px solid  rgba(0,0,0,0.16);
  border-radius:8px;
  min-height: 230px;
  margin-bottom: 20px;
  font-size: 16px;
}
.process-list-item img {
  width: 50px;
  /* height: 50px; */
}
.process-list-item p ,.cost-list-item p{
  margin: 10px auto;
  font-size: 22px;
}
.process-list-item span ,.cost-list-item span{
  font-size: 16px;
}
.hospital-list-item {
  min-height: 280px;
}
.cost-list-item img ,.hospital-list-item img{
  width: 100%;
}
.index-wrap .hospital-list {
  margin-top: 40px;
}
.cost-list ,.hospital-list{
  /* margin-top: 40px; */
}
.cost-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.cost-list .col-cost::after {
  content: '+';
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  right: -10px;
  top: 25%;
  color: #f19149;
}
.cost-list .col-cost:nth-child(4)::after {
  content: '=';
}
.cost-list .col-cost:nth-child(5)::after {
  content: '';
}
.cost-list .col-cost {
  padding: 20px 25px;
}
.col-cost {
  width: 20%;
  padding: 5px;
  position: relative;
  float: left;
  text-align: center;
}
#carousel-example-generic {
  width: 50%;
  margin: 50px auto;
}
.case-item {
  padding: 0 100px;
  text-align: center;
  /* border: 1px solid rgba(0,0,0,0.16); */
  /* box-shadow:0px 4px 6px 0px rgba(0,0,0,0.16); */
}
.head {
  display: inline-block !important;
  position: relative;
  border-radius: 50%;
  margin-bottom: 16px;
}
.case-item b {
  display: block;
}
.case-item p {
  margin-top: 10px;
  color: #999999;
  font-size: 16px;
}
.describe {
  text-align: left !important;
}

/* 轮播 */

.carousel-control.right ,.carousel-control.left,.carousel-control:focus, .carousel-control:hover {
  color: #1C489B !important;
  background-image:none !important;
}

/* 联系方式 */
.contact-number {
  background: #1FB1B2;
  padding: 50px;
}
.contact-number .content-wrap, .breadcrumb-wrap.content-wrap {
  /* height: 140px; */
  padding-bottom: 0;
}
.contact-describe {
  text-align: center;
  color: #1C489B;
  font-size: 23px;
}
.imgWrap {
  background: #1C489B;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  vertical-align: text-bottom;
}
.imgWrap img {
  width: 16px;
  height: 16px;

}
.link-phone {
  display: inline-block;
  padding: 7px 50px 7px 20px;
  background: #fff;
  border-radius: 4px;
}

/* 面包屑 */
.breadcrumb {
  background-color: #fff !important;
  color: #999999;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.08);
  border: 1px solid rgba(0,0,0,0.08);
  margin-top: 15px;
}

/* 流程 */
.process-title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 25px;
}
.process-subtitle {
  font-size: 24px;
  color: #231E1E;
  /* font-weight: 600; */
  margin-bottom: 15px;
  margin-top: 35px;
}
.process-item-list li {
  font-size: 18px;
  list-style-type: decimal;
  margin-bottom: 10px;
}

/* 费用 */
.price-list {
  width: 100%;
  margin-top: 40px;
}

/* 知识列表 */
.news-list-wrap {

}
.hospital-list .news-content {
  max-height: 4em;
  overflow: hidden;

}
.hospital-list .news-item{
  cursor: pointer;
}
.case-list-wrap {
  margin-top: 30px;
}
.news-item {
  padding: 40px;
  box-shadow:0px 4px 6px 0px rgba(0,0,0,0.16);
  border: 1px solid rgba(0,0,0,0.16);
  margin-bottom: 30px;
}
.case-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.case-top {
  display: flex;
  justify-content: flex-start;
}
.case-left {
  margin-right: 20px;
}
.case-left img {
  width: 150px;
}
.case-right {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.news-item:hover {
  box-shadow:0px 2px 18px 0px rgba(28,72,155,0.33),0px 2px 3px 0px rgba(28,72,155,0.29);
  border:1px solid rgba(28,72,155,1);
}
.news-title {
  color: #1C489B;
  font-size: 24px;
}
.news-subtitle {
  margin: 16px 0 24px 0;
  color: #999999;
  font-size: 14px;
}
.news-content {
  color: #3F3C49;
  font-size: 16px;
  text-align: left;
}

/* 医院 */
.hospital-item-wrap {
  padding: 40px;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.16);
  border: 1px solid rgba(0,0,0,0.16);
  border-radius: 8px;
}
.hospital-title {
  font-weight: 400;
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .index-wrap main {
    background: #fff;
    padding-top: 30px;
  }
  .hidden-xs {
    display: none!important;
  }
  .big-title {
    font-size: 24px;
  }
  .small-title {
    font-size: 16px;
  }
  .process-subtitle {
    font-size: 20px;
  }
  main {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 100px;
  }
  .process-list-item {
    padding: 20px 25px 10px;
  }
  .cost-list .col-cost {
    padding: 0 20px 0 20px;
    min-height: 250px;
  }
  .col-cost {
    width: 33.3333333%;
    padding: 5px;
  }
  .cost-list .col-cost::after {
    top: 5%;
  }
  #carousel-example-generic {
    width: 100%;
    margin: 20px auto;
  }
  .footer-wrap-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content-wrap {
    padding-bottom: 180px;
  }
}

