<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="footer-wrap container">
  <div class="footer-top row container">
    <div class="footer-left col-md-7 hidden-xs">
      <div class="footer-item-wrap">
        <!-- <div class="footer-item">
            <a class="footer-item-title">
                试管婴儿
            </a>
              <a  href="../advantage" class="footer-item-among">
                泰国优势
              </a>
              <a  href="../hospital-list" class="footer-item-among">
                 合作医院
              </a>
              <a  href="../process" class="footer-item-among">
                 试管流程
              </a>
              <a  href="/price.html" class="footer-item-among">
                服务套餐
              </a>
              <a  href="../news-list" class="footer-item-among">
                 试管知识
              </a>
              <a  href="../case-list" class="footer-item-among">
                成功案例
             </a>
        </div> -->
        <!-- <div class="footer-item">
            <a class="footer-item-title">
                合作医院
            </a>
            <a href="#"  class="footer-item-among">
                泰国之旅
            </a>
            <a href="#"  class="footer-item-among">
                养生知识
            </a>
            <a href="#"  class="footer-item-among">
                案例分享
            </a>
        </div> -->
        <!-- <div class="footer-item">
          <a class="footer-item-title">
              合作医院
          </a>
          <a href="#"  class="footer-item-among">
              公司简介
          </a>
          <a href="#"  class="footer-item-among">
              联系方式
          </a>
          <a href="#"  class="footer-item-among">
              金牌顾问
          </a>
          <a href="#"  class="footer-item-among">
              行业新闻
          </a>
        </div> -->
      </div>
    </div>
    <div class="col-xs-12 col-md-12" style="margin-top:-44px;">
      <div class="footer-wrap-bottom">
        <div class="left">
            <div class="telephone">
              咨询电话:
              <div class="telephone-number">
                0371-55183885
              </div>
            </div>
        </div>
        <div class="right">
            <img src="../img/logo-w.png" alt="">
            <div class="address">
                公司地址：河南省郑州市郑东新区东风路升龙广场1号楼A座1506
            </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <!-- <div class="footer-link">
        试管婴儿 | 试管婴儿论坛
    </div> -->
    <div class="footer-info">
        <!-- Copyright &#169 2014-2016 THAIYUE 泰熹悦商务咨询服务有限公司 版权所有粤ICP备15047622号 -->
    </div>
  </div>
</div>
<!-- <div class="footer-border"></div> -->
<div class="record">
  <div class="container">Copyright © 2018-2019 AITAI 河南爱泰健康管理咨询有限公司 版权所有豫ICP备19007490号-1</div>
</div>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?7fdaf563aa61c45fb666f685113259ea";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
  </script>

