<div class="header-top-wrap">
    <div class="row header-top container hidden-xs">
      <div class="col-xs-12 col-sm-8">泰国知名试管婴儿医院官方授权服务中心</div>
      <!-- <div class="col-xs-12 col-sm-4 fr">咨询电话：4000362126</div> -->
    </div>
</div>
<div class="header-nav-wrap">
  <nav class="container">
    <div class="nav-wrap pc hidden-xs">
      <a href="/" class="active">首页</a>
      <!-- <a href="./about.html">优势</a> -->
      <a href="../hospital-list.html">医院</a>
      <a href="../news-list.html">知识</a>
      <a href="../price.html">费用</a>
      <!-- <a href="#">案例</a> -->
      <a href="../about.html">关于我们</a>
    </div>
    <button type="button" class="navbar-toggle collapsed thaiyuehealth" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  </nav>
  <div class="nav-slide">
    <div class="nav-wrap mobile">
      <a href="/" class="active">首页</a>
      <!-- <a href="./about.html">优势</a> -->
      <a href="../hospital-list.html">医院</a>
      <a href="../news-list.html">知识</a>
      <a href="../price.html">费用</a>
      <!-- <a href="#">案例</a> -->
      <a href="../about.html">关于我们</a>
      </div>
  </div>

</div>

<div class="contact-us">
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2633029931&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2633029931:53" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
</div>
<script>
$('.navbar-toggle').click(function() {
  $('.nav-wrap.mobile ').slideToggle(100)
  // if($('.nav-wrap.mobile').height()==0) {
  //   // $('.nav-wrap.mobile').height('auto')
  //   $('.nav-wrap.mobile').slideDown()
  // } else {
  //   $('.nav-wrap.mobile').slideUp()
  //   // $('.nav-wrap.mobile').height(0)
  // }
})
$(function(){
  if(location.href.includes('hospital')) {
    $('.nav-wrap>a').eq(1).addClass('active').siblings().removeClass('active')
    $('.nav-wrap>a').eq(6).addClass('active').siblings().removeClass('active')
  }else if(location.href.includes('news')){
    $('.nav-wrap>a').eq(2).addClass('active').siblings().removeClass('active')
    $('.nav-wrap>a').eq(7).addClass('active').siblings().removeClass('active')
  }else if(location.href.includes('price')){
    $('.nav-wrap>a').eq(3).addClass('active').siblings().removeClass('active')
    $('.nav-wrap>a').eq(8).addClass('active').siblings().removeClass('active')
  }else if(location.href.includes('about')){
    $('.nav-wrap>a').eq(4).addClass('active').siblings().removeClass('active')
    $('.nav-wrap>a').eq(9).addClass('active').siblings().removeClass('active')
  }
})
</script>


