<div class="message-board-wrap">
  <div class="call-phone">
    <a href="tel:0371-55183885">
      <img src="../img/phone-icon.png" alt="">
    </a>
  </div>
  <div class="call-phone">
    <a href=""  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
      <img src="../img/message-icon.png" alt="">
    </a>
  </div>
  <!-- <div class="call-phone">
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2633029931&site=qq&menu=yes">
      <img src="../img/qq-icon.png" alt="">
    </a>
</div> -->
</div>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">请留下您的信息，我们的爱泰客服专员将马上联系您</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="control-label">姓名:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="control-label">电话:</label>
                <input type="text" class="form-control" id="recipient-phone">
              </div>
            <div class="form-group">
              <label for="message-text" class="control-label">描述:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary messageSubmit">发送消息</button>
        </div>
      </div>
    </div>
</div>
<script>
$('.messageSubmit').on('click', function() {
  var name = $('#recipient-name').val()
  var phoneNumber = $('#recipient-phone').val()
  var content = $('#message-text').val()
  $.ajax({
      url: 'http://www.aithaihealth.com/addMessage',
      type: 'get',
      dataType: 'json',
      data: {
        name,
        phoneNumber,
        content
      },
      success: function(res) {
        $('#exampleModal').modal('hide')
        debugger
        layer.alert(res.msg, {icon: 6});
      }
    })
})
</script>
